{% extends 'default-template.html.twig' %}

{% block main %}
    <h1>Home page</h1>
    <p>
        <a href='/posts/1'>Go to "/posts/1"</a>
    </p>
    <p>
        <a href="{{ testUrl }}">Link from test service</a>
    </p>
{% endblock %}
